/* pages */

@layer components {
  .page-content {
    @apply relative py-12 max-w-7xl mx-auto;
  }

  .page-content::before,
  .page-content::after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  .page-content::after {
    bottom: 100px;
    left: 20px;
    width: 120px;
    height: 120px;
    opacity: 0.5;
    border-radius: 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
    background-position: top center;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .page-content::before {
    bottom: 6rem;
    right: 25rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.25;
    border: 4px solid #cdcdcd;
  }
}
