/* theme */

@layer components {
  /* wrapper */

  .wrapper {
    @apply py-0;
  }

  /* img-fluid */
  .img-fluid {
    @apply w-full;
  }

  /* theme */
  .theme {
    @apply overflow-hidden relative;
  }

  .theme::before {
    top: 0;
    right: 0;
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    z-index: -1;
    border-radius: 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
    background-position: top center;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .theme::after {
    top: 16rem;
    right: 1rem;
    content: '';
    position: absolute;
    transform: rotate(-20deg);
    width: 0;
    height: 0;
    opacity: 0.5;
    z-index: -1;
    border-top: 25px solid transparent;
    border-right: 50px solid #cdcdcd;
    border-bottom: 25px solid transparent;
  }

  /* nuxt-content */

  .nuxt-content h1 {
    @apply text-xl font-bold my-2;
  }

  .nuxt-content p {
    @apply mb-3;
  }

  .nuxt-link-exact-active.nuxt-link-active {
    @apply text-red-600;
  }
}

/* dark modes */

.dark-mode footer {
  @apply bg-gray-800;
}

.dark-mode .theme-form {
  @apply bg-gray-800;
}

.dark-mode .boxed-bottom-content {
  @apply bg-gray-800;
}

.dark-mode body nav:not(.bg-gradient-to-b) {
  @apply bg-gray-800;
}

.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}

.dark-mode body blockquote,
.dark-mode body figcaption {
  @apply text-gray-800;
}

.dark-mode .color-mode option {
  @apply text-gray-900;
}

/* sepia modes */

.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}
