/* tailwindcss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fff;
  color: #343a40;
}

.wrapper {
  padding-top: -64px;
}

.headlineHero {
  background-image: url('https://images.unsplash.com/photo-1517927033932-b3d18e61fb3a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1440&q=80');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @apply min-h-screen flex justify-center items-center text-center mx-auto text-white;
}

.nav-info {
  @apply flex my-4 pt-4 pb-4;
}

.nav-info:first-child {
  @apply border-b border-gray-400 pt-0 pb-7 align-middle;
}

.nav-info nav h4 {
  @apply font-semibold;
}

.nav-info ul {
  @apply font-medium;
}

.nav-info ul li {
  @apply pt-3;
}

/* .nav-info ul li a {
  @apply text-gray-300 hover:text-gray-400;
} */

footer {
  @apply bg-gray-500 text-white;
}

footer a {
  @apply text-gray-300 hover:text-gray-400 hover:underline capitalize font-bold text-sm;
}

select.color-mode {
  @apply text-gray-700;
}

/* dark modes */

.dark-mode footer {
  @apply bg-gray-800;
}

/* themes */

.btn {
  @apply rounded-full text-sm font-light mt-2 px-3 py-1 capitalize text-gray-400 hover:text-gray-700 focus:to-gray-900 hover:border-gray-700;
}

.btn-xs {
  @apply rounded-full text-xs px-2;
}

.btn-lg {
  @apply text-lg px-5 uppercase;
}

.btn-outline {
  @apply border border-gray-400;
}

/* forms */

form {
  @apply my-4;
}

input,
textarea {
  @apply text-gray-400 border border-gray-400 px-2 py-1 focus:text-gray-500 hover:border-gray-700;
}

label {
  @apply inline-block my-2;
}
