@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

@layer components {
  .footer {
    @apply flex justify-center align-middle py-4;
  }
  .card-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-4 py-20;
  }
  .card-rounded {
    @apply shadow-lg py-12 px-4 rounded-md;
  }
  .card-rounded:hover {
    @apply shadow-xl;
  }
  .card-flatted {
    @apply shadow-lg p-0 mb-2;
  }
  .card-flatted:hover {
    @apply shadow-xl;
  }
}
